[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = ">=4.2.0"
django = "==2.2.28"
django-celery-results = "==1.0.1"
djangorestframework = "==3.9.1"
docker = "==2.4.2"
flower = "==0.9.2"
"psycopg2" = "==2.7.1"
redis = "==2.10.5"
requests = "==2.20.0"
social-auth-app-django = "==1.2.0"
whitenoise = "*"
sec = "*"

[dev-packages]
ipython = "==7.16.3"
pycodestyle = "==2.3.1"
