amqp==2.1.4
Babel==2.3.4
backports.ssl-match-hostname==3.5.0.1
billiard==3.5.0.2
celery==4.0.2
certifi==2016.9.26
Django==1.10.5
docker-py==1.10.6
docker-pycreds==0.2.1
flower==0.9.1
futures==3.0.5
ipaddress==1.0.18
kombu==4.0.2
pytz==2016.10
redis==2.10.5
requests==2.12.5
six==1.10.0
tornado==4.2
vine==1.1.3
websocket-client==0.40.0
