{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Castor - Webhooks for Docker events</title>
    <link rel="stylesheet" href="{% static 'web/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/stylesheets/main.css' %}">
    <script type="text/javascript" src="{% static 'web/node_modules/whatwg-fetch/fetch.js' %}" async></script>
    <script type="text/javascript" src="{% static 'web/node_modules/jquery/dist/jquery.slim.min.js' %}" ></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container-fluid">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Castor</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a href="{% url 'dockerserver-list' %}">
                  <i class="fa fa-server" aria-hidden="true"></i>
                  Docker servers
                </a>
              </li>
              <li>
                <a href="{% url 'webhooks' %}">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  Webhooks
                </a>
              </li>
              <li>
                <a href="{% url 'api-root' %}">
                  <i class="fa fa-exchange" aria-hidden="true"></i>
                  API
                </a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
                {% if request.user.is_authenticated %}
                <a href="{% url 'signout' %}">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  Sign out
                </a>
                {% else %}
                <a href="{% url 'signin' %}">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                  Sign in
                </a>
                {% endif %}
              </li>
              {% if request.user.is_staff %}
              <li>
                <a href="{% url 'admin:index' %}">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  Admin Panel
                </a>
              </li>
              {% endif %}
                <li>
                  <a href="https://github.com/sourcelair/castor" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    GitHub
                  </a>
                </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
