{% extends 'web/base.html' %}

{% block content %}

<div id="webhook-container" class="panel panel-default" data-webhook-id="{{ webhook.id }}">
  <div class="panel-heading">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/webhooks/">Webhooks</a></li>
      <li class="active">Inspect webhook</li>
    </ol>
  </div>
  <div class="panel-body">
    Every time a Docker event is being captured on
    <a href="/docker-servers/{{ webhook.docker_server.id }}/">
      <i class="fa fa-server" aria-hidden="true"></i>
      {{ webhook.docker_server.name }}</a>,
    it is being sent in a <strong>POST</strong> request to
    {{ webhook.payload_url|urlize }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Recent deliveries</div>
  <ul class="list-group">
    {% for delivery in deliveries %}
    {% include 'web/components/delivery-list-item.html' %}
    {% empty %}
    <li class="list-group-item">No deliveries yet!</li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  $('.inspect-delivery').on('click', function (e) {
    e.preventDefault();
    var deliveryId = parseInt(
      this.href.match(/deliveries\/(\d+)\.json$/)[1], 10
    );
    if ($(this).attr('data-loaded')) {
      $(`li[data-delivery-id=${deliveryId}] .delivery-details`).toggleClass('hidden');
      return;
    }
    fetch(this.href.replace(/\.json$/, '.html')).then(function (response) {
      return response.text();
    }).then(function (delivery) {
      $(`li[data-delivery-id=${deliveryId}] a`).attr('data-loaded', 'true');
      var $deliveryContent = $(`li[data-delivery-id=${deliveryId}] .delivery-content`);
      $deliveryContent.html(delivery);

      var $deliveryDetails = $deliveryContent.find('.delivery-details');

      $deliveryDetails.find('.request-tab').addClass('active');
      $deliveryDetails.find('.request-tab').on('click', function () {
        console.log('req', this);
        $deliveryDetails.attr('data-active', 'request');
        $deliveryDetails.find('.response-tab').removeClass('active');
        $deliveryDetails.find('.request-tab').addClass('active');
      });

      $deliveryDetails.find('.response-tab').on('click', function () {
        console.log('res', this);
        $deliveryDetails.attr('data-active', 'response');
        $deliveryDetails.find('.request-tab').removeClass('active');
        $deliveryDetails.find('.response-tab').addClass('active');
      });
    });
  });
</script>
{% endblock %}
