{% extends 'web/base.html' %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/webhooks/">Webhooks</a></li>
      <li class="active">Inspect webhook</li>
    </ol>
  </div>
  <div class="panel-body">
    Every time a Docker event is being captured on
    <a href="/docker-servers/{{ webhook.docker_server.id }}/">
      <i class="fa fa-server" aria-hidden="true"></i>
      {{ webhook.docker_server.name }}</a>,
    it is being sent in a <strong>POST</strong> request to
    {{ webhook.payload_url|urlize }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Recent deliveries</div>
  <ul class="list-group">
    {% for delivery in deliveries %}
    {% include 'web/components/delivery-list-item.html' %}
    {% empty %}
    <li class="list-group-item">No deliveries yet!</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
