{% extends 'web/base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Webhooks</li>
</ol>

<h1>Webhooks</h1>

<ul class="list-group">
  {% for webhook in webhooks %}
  <li class="list-group-item">
    From
    <a href="/docker-servers/{{ webhook.docker_server.id }}/">
      <i class="fa fa-server" aria-hidden="true"></i>
      {{ webhook.docker_server.name }}
    </a>
    to {{ webhook.payload_url|urlize }}
    <a href="/webhooks/{{ webhook.id }}" class="pull-right btn btn-default btn-xs">
      <i class="fa fa-eye" aria-hidden="true"></i>
      Inspect
    </a>
  </li>
  {% empty %}
  <li class="list-group-item">You have not set up any webhooks yet!</li>
  {% endfor %}
</ul>
{% endblock %}
