<li class="delivery-list-item list-group-item">
  <span class="delivery-status">
    {% if delivery.delivered %}
      {% if delivery.status_code < 300 %}
        <span class="label label-success">
          <i class="fa fa-check" aria-hidden="true"></i>
          {{ delivery.status_code }}
        </span>
      {% else %}
        <span class="label label-warning">
          <i class="fa fa-check" aria-hidden="true"></i>
          {{ delivery.status_code }}
        </span>
      {% endif %}
    {% else %}
      <span class="label label-danger">
        <i class="fa fa-times" aria-hidden="true"></i>
        Dropped
      </span>
    {% endif %}
  </span>
  <span>
  From {{ delivery.webhook.docker_server.name }}
  to {{ delivery.webhook.payload_url|urlize }}
  {% if delivery.delivered %}
  <span class="badge">{{ delivery.delivery_duration }}ms</span>
  {% endif %}
  </span>

  <ul class="nav nav-pills pull-right">
    <li role="presentation">
      <span>{{ delivery.dispatched_at }}</span>
    </li>
    <li role="presentation">
      <a href="#">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</li>
